.logo1{
  height: 70px;
  width:70px;
  color: white;
  font-size: xx-large;
  font-family: fantasy;
}
.g{
  color: red;
}
.i{
  color: #4775ff !important;
}
.r{
  color: orange;
}
.ii{
  color: limegreen;
}
.nav-link{
  color: rgb(170, 169, 169);
}
.img1{
 margin-top: 20%;

}
.img1.hover{
  border-left: 4px solid bisque;
  border-top: 4px solid bisque;
  border-bottom: 4px solid bisque;
}
.abt{
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 60px;
 
  border-bottom: 1px solid black ;
}
.nav-item{
  display: inline-flex;

}
.linkss{
  margin: auto;
  
}
.icon1{
  margin: auto;
}
.edu1{
  
  color: white;

}
.card{
   height: 250px;
   margin: 20px;
}
.phone,.envelop,.mark{
  margin: 20px; 
  margin-left: 30% !important;
  padding: 15px;
}

.contac{
  margin-top: 5%;
}
.clg{
  margin-top: 10%;
  margin-left :8px;
}
.study{
  padding: 5px;
  letter-spacing: 1px;
  color: green;
}
.pencill{
  color: red;
  border-bottom: 1px solid black;
}
.eduu{
  color: blue;
  font-family: cursive;
  font-size: 50px;
}
.names{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:lightseagreen;
  font-size: 15px;
}
.details{
  color: lightcoral;
}

@media(max-width:767px){
  .logo1{
    height:5px;
    width: 50px;
  }
}